/* Fonts Settings */

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* End Font Settings */


/* Body Settings */
body {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
/* End Body Settings */


/* Princiapl Container Settings */
.principal-container {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 6;
}
/* End Principal Container Settings */


/* Header Settings */
header {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    height: 10vh;
}

.header-container {
    display: grid;
    background-color: #FDF1EB;
    height: 10vh;
}

.logo {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
    height: 10vh;
    width: 14vw;
    background: linear-gradient(0deg, #ed7839 0%, #FFB455 100%);
    box-shadow: 3px 0 5px 0 #E7E7E7;
}

#slaca-2019 {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.header-data {
    padding: 0 36px;
    height: 10vh;
    width: 80vw;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'Roboto', sans-serif;
    color: #725C5C;
}

.dropdown {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.text-header,
#strong-text,
.normal-text {
    margin: 0;
}

.normal-text {
    font-size: 14px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

#strong-text {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}
/* End Header Settings */


/* Left Column Settings */
aside {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 3px 0 5px 0 #E7E7E7;
    min-height: 100vh;
    min-width: 220px;
    position: sticky;
    top: 0;
    height: 80vh;
    width: 14vw;
    z-index: 100;
}

.left-column-container {
    grid-column: 1 / 2;
    background-color: transparent;
    width: 14vw;
    box-shadow: 3px 0 5px 0 #E7E7E7;
}

.left-column {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: transparent;
    height: 80vh;
    width: 14vw;
}

#img-left {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: transparent;
    width: 14vw;
}

/*menu organizado em lista não ordenada*/
.list-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*Botões do menu*/
.buttonClass {
    list-style: none;
    padding: 0px 20px;
    margin: 0%;
    width: 100%;
    height: 35px;
    background-color: transparent;
    color: #746565;
    size: 100%;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    border-color: transparent;
    border-bottom: 2px solid #ECECEC;
}

.buttonClass:hover {
    list-style: none;
    padding: 0px 20px;
    margin: 0%;
    width: 100%;
    height: 35px;
    background-color: #FBF1EB;
    color: #746565;
    size: 100%;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    border-color: transparent;
    border-bottom: 2px solid #ECECEC;
}

/* End Left Column Settings */

/* Right Column Settings */
.right-column-container {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: transparent;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    height: 30vh;
}
/*Title Details*/
#title-details{
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
    font-size: 20px;
}
/*End Title Details*/
/* Text Details */
#text-details {
    font-family: 'Quicksand', sans-serif;
    color: #5C5C5C;
    font-size: 12px;
}
/* End Text Details */
/* End Right Column Settings */

/* Main Settings */
main {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    background-color: transparent;
}

.main-container {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background-color: transparent;
}

.main-data {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background-color: transparent;
}

.title-main {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-family: 'Roboto';
    color: #ED7839;
    letter-spacing: 0.05em;
    font-size: 20px;
}

.container-resume {
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #FDF1EB;
    border-color: #ECECEC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.video {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 3px;

}

.main-content {
    grid-column: 2 /3;
    grid-row: 2 / 3;
    margin-left: 10vw;
    color: #ED7839;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Analysis */
.container-analysis {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

/* Box Analysis */
.box-analysis {
    background-color: transparent;
}

/*Title Analysis*/
.analysis-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
    font-size: 20px;
}

/* End Title Analysis */
/* Text-Analysis */
.text-analysis {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ED7839;
    text-align: center;
}

/*End Text-Analysis */
/*Continuation of the text*/
.continuation-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #595959;
    width: 600px;
    display: inline-block;
}
.button-topic{
    background-color: transparent;
}
/* End Continuation od the text*/
/* Box Text */
.popup{
    display: none;
}
#botao-criar-topico{
    background-color: transparent;
}
/* End Box Text */
/* End Box Analysis */
/* End Analysis */
/* End Main Settings */
/* Footer Settings */
footer,
.footer-container {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    box-sizing: border-box;
    color: #5C5C5C;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: transparent;
    height: 10vh;
    box-shadow: 3px 0 5px 0 #E7E7E7;
}

.footer-data {
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    align-self: center;
}

.galoa-logo-footer {
    width: 200px;
    height: auto;
    display: inline-block;
}
.button-galoa {
    background-color: #71478E;
    color: #FFF;
    border-radius: 5px;
    width: 200px;
    display: inline-block;
}
.paragraph{
    grid-column: 3 / 5;
    grid-row: 4 / 6;
    background-color: red;
    box-sizing: border-box;
    display: inline-block;

}
/* End Footer Settings */
/* List Images */
.list-img{
        letter-spacing: 50.26px;
    }

/*End List Images */